# Compiled:
*.elc

# Packaging:
.cask

# Backup files:
*~

# Undo-tree save-files:
*.~undo-tree

# User-specific files:
auto-save-list/*
.backup-emacs/*
.cache/*
elpa/*
transient/*
url/*
config/irc.el
server/server
.mc-lists.el
ac-comphist.dat
ido.last
network-security.data
projectile-bookmarks.eld
recentf
